.todo {
    position: relative;
    z-index: 1;
    margin: auto;

    &::after {
        position: absolute;
        z-index: -1;
        top: -15px;
        left: 1px;
        width: 100%;
        max-width: 395px;
        height: 67px;
        background: linear-gradient(180deg, #31394D 0%, #091739 100%);
        border-radius: 20px;
        transform: rotate(-2.32deg);
        content: '';
    }

    &::before {
        position: absolute;
        z-index: -1;
        top: -25px;
        left: 3px;
        width: 100%;
        max-width: 341px;
        height: 85px;
        background: linear-gradient(180deg, #4F5565 0%, #000000 53.65%);
        border-radius: 20px;
        transform: rotate(-4.48deg);
        content: '';
    }

    &__wrap {
        z-index: 1;
        width: 420px;
        padding: 30px;
        background: #252E42;
        box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
        border-radius: 20px 0px 40px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__options {
        margin-left: 15px;
    }

    &__body {
        overflow: auto;
        height: 418px;
        padding-right: 15px;
    }

    &__title {
        font-size: 28px;
        color: #fff;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__add {
        margin-left: 15px;
    }

    &__copy {
        margin-top: 30px;
        color: #414B62;
        font-weight: 500;
        text-align: center;
    }

    @media (max-width: 480px) {
        .todo {
            &__head {
                flex-direction: column;
                align-items: flex-start;
            }

            &__options {
                margin-left: 0;
                margin-top: 10px;
            }

            &__wrap {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}